.main-header
  margin-bottom: 2 * $font-size-base
  min-height: 206px
  border-bottom: 2px solid #ddd
  display: flex
  flex-direction: column
  background: #333
  color: #fff
  transition: all .35s ease-in-out

.main-header--formatted
  background: #fff
  color: #333

.header__title 
  margin: 0
  padding: 2rem 0

.temp-wrap
  transition: height 1s ease

.typeout-title
  font-family: "Inconsolata", monospaced
  font-size: .5em
  display: inline
  min-width: 1px
  min-height: 1em
  padding-right: .25em
  border-right: 4px solid green
  +animation( cursor 1s linear infinite )

.typeout-title--formatted
  font-family: "PT Serif", Georgia, Serif
  font-size: 1em

// cursor animation
+keyframes( "cursor" )
  0%
    border-color: green
  1%
    border-color: transparent
  50%
    border-color: transparent
  51%
    border-color: green